.albums{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.album{
  list-style-type: none;
  max-width: 150px;
  margin: 5px;
  line-height: 30px;
  border: solid 1px black;
  text-align: center;
  background-color: papayawhip;
  cursor: pointer;
}

h1{
  text-align:center;
}

